footer {
    background-color: #dc8605;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #eaeaea;
  }
  
  footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
  }
  
  @media (max-width: 576px) {
    footer {
      font-size: 12px;
    }
  }
  